@import './fonts.scss';

:root {
  --background: rgba(255, 255, 255, 1);
  --font-color: rgba(0, 0, 0, 1);


  @media (prefers-color-scheme: dark) {
    --background: rgba(18, 18, 18, 1);
    --font-color: rgba(225, 225, 225, 1);
  }

}

html,
body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: 'Inter', sans-serif;
  margin: 0;
}